:root {
    --bg-color: #2b3856;
    --white-font: #ededed;
}
body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    gap: 10px;
}

/*추가된 내용*/
.fa-brands {
    color: black;
    opacity: 0.4;
}
.fa-solid {
    color: black;
    opacity: 0.4;
}
.sns-pictogram i {
    margin-right: 40px;
}

.img {
    justify-content: center;
}
#porfile-img {
    width: 150px;
    height: 150px;
    border: none;
    transform: scale(1);
    border-radius: 70%;
    object-fit: cover;
}

.text-block {
    width: 60%;
}
.menu-bar {
    position: fixed;
    border: 0;
    background-color: var(--bg-color);
    display: block;
    width: 200px;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.index {
    text-align: center;
    display: flex;
    flex-direction: column;
}
/* 목차 */
.index h3 {
    color: var(--white-font);
    opacity: 0.7;
    text-decoration: none;
    cursor: pointer;
    font-size: 13px;
}
/* 목차 각 항목 반응형 커서 */
.index h3:hover {
    opacity: 1;
    text-shadow: 0.7px 0.7px 0.7px #000;
    font-size: 15px;
}

section {
    margin-left: 260px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
section h1 {
    display: none;
}

p {
    line-height: 1.5;
    margin: 0;
}

.education .one_education {
    margin-bottom: 15px;
}
.education .one_education .date {
    background-color: var(--bg-color);
    color: var(--white-font);
    padding: 3px 5px 3px 5px;
    border-radius: 5px;
    width: fit-content;
    font-size: 12px;
}

.experience .one_experience {
    margin-bottom: 15px;
}
.experience .one_experience .date {
    background-color: var(--bg-color);
    color: var(--white-font);
    padding: 3px 5px 3px 5px;
    border-radius: 5px;
    width: fit-content;
    font-size: 12px;
}

.awards .one_award {
    margin-bottom: 15px;
}
.awards .one_award p {
    padding-left: 30px;
}
.awards .one_award .title {
    font-weight: bold;
    font-size: 16px;
    padding: 0;
}

.activities .one_activity {
    margin-bottom: 15px;
}
.activities .one_activity .date {
    background-color: var(--bg-color);
    color: var(--white-font);
    padding: 3px 5px 3px 5px;
    border-radius: 5px;
    width: fit-content;
    font-size: 12px;
}

.certification .one_certification {
    margin-bottom: 15px;
}
.certification .one_certification .date {
    background-color: var(--bg-color);
    color: var(--white-font);
    padding: 3px 5px 3px 5px;
    border-radius: 5px;
    width: fit-content;
    font-size: 12px;
}

@media only screen and (max-width: 480px) {
    /* query of iphone 13 mini */
    body {
        display: flex;
        flex-direction: column;
    }
    .menu-bar {
        position: relative;
        width: 100%;
    }
    section {
        margin: 0;
        padding: 10px;
        height: none;
    }
    section h1 {
        display: flex;
        align-items: center;
        font-size: 22px;
        font-weight: bold;
        text-transform: uppercase;
    }
    section h1::after {
        font-family: 'FontAwesome';
        content: '\f151';
        font-weight: 100;
        color: #2b38563f;
        margin-left: auto;
    }
}
