@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Xanh+Mono:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
/* dark mdoe */
:root {
    --dark: rgb(20, 21, 24);
    --semi-dark: rgb(49, 48, 49);
    --gray: rgb(182, 187, 196);
    --white: rgb(230, 236, 229);
    --highlight: rgb(222, 159, 246);
}
/* white mode */
:root.white-mode {
    --dark: rgb(240, 240, 240);
    --semi-dark: rgb(180, 180, 180);
    --gray: rgb(100, 100, 100);
    --white: rgb(49, 48, 49);
    --highlight: rgb(222, 159, 246);
}

* {
    box-sizing: border-box;
    background-color: transparent;
    margin: 0;
    padding: 0;
    font-family: 'Playfair Display', serif;
    font-weight: 400;
}

body {
    background-color: var(--dark);
    color: var(--white);
}

nav {
    position: fixed;
    top: 1.6em;
    left: 2em;
}
nav ul {
    z-index: 999;
    list-style: none;
}
nav ul li {
    cursor: pointer;
    list-style: none;
    font-size: 0.8em;
    text-transform: capitalize;
    position: relative;
    left: 2.1em;
    line-height: 1.5;
    font-family: 'Xanh Mono', monospace;
    color: var(--gray);
}
nav ul li.active {
    color: var(--white);
}
nav ul li.nav-header {
    left: 0;
    margin-bottom: 0.5em;
}
nav ul li.nav-header .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1.2em;
}
nav ul li.nav-header .container i {
    color: var(--semi-dark);
    font-size: 0.8em;
}
nav ul li.nav-header .container p {
    font-size: 1.25em;
    font-weight: 500;
    color: var(--white);
}

section {
    min-height: 100vh;
}

.home {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.home img {
    position: absolute;
    left: 50%;
    width: 260px;
    height: 260px;
    border-radius: 100%;
    object-fit: cover;
}
.home p.hello {
    z-index: 100;
    font-size: 3em;
    margin-top: calc(50vh - 1em);
    overflow: hidden;
    white-space: nowrap;
    border-right: 3px solid;
    animation: typing 3s steps(30, end) forwards, blink 0.75s step-end infinite;
}
@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 500px;
    }
}

@keyframes blink {
    50% {
        border-color: transparent;
    }
}

.home .bottom {
    margin-top: auto;
    margin-bottom: 1em;
    width: 90%;
    display: flex;
    justify-content: space-between;
}
.home .bottom p {
    color: var(--gray);
    font-size: 0.8em;
    margin: 0;
}

#about {
    padding: 2em 1em;
}
#about .container {
    max-width: 1024px;
    margin: 0 auto;
    padding-top: 25vh;
}
#about .container .header {
    font-size: 2em;
    font-weight: 900;
    margin-bottom: 0.5em;
}
#about .container .desc {
    width: 50%;
    font-weight: 300;
    font-family: 'Open Sans', sans-serif;
    word-spacing: 0.27em;
}
#about .container .contact {
    margin-top: 1em;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}
#about .container .contact .one-c {
    font-weight: 400;
    word-spacing: 0.1em;
}
#about .container .sns {
    margin-top: 2em;
    display: flex;
    gap: 10px;
}
#about .container .snslink {
    background-color: var(--white);
    padding: 7px 12px;
    border-radius: 5px;
    text-decoration: none;
    color: var(--dark);
    transition: background-color 0.3s;
}
#about .container .snslink:hover {
    background-color: var(--highlight);
}

#education {
    padding: 2em 1em;
}
#education .container {
    max-width: 1024px;
    margin: 0 auto;
    padding-top: 25vh;
}
#education .container .header {
    font-size: 2em;
    font-weight: 900;
    margin-bottom: 0.5em;
}
#education .container .timeline {
    border-left: 0.25px solid var(--white);
    height: 50vh;
    padding-left: 1em;
}
#education .container .timeline .one-tl {
    margin-bottom: 2em;
}
#education .container .timeline .circle {
    width: 1em;
    height: 1em;
    border-radius: 50%;
    background-color: var(--highlight);
}
#education .container .timeline .one-tl:nth-of-type(n + 2) .circle {
    background-color: var(--gray);
}
#education .container .timeline .place {
    font-size: 0.75em;
    color: var(--gray);
    line-height: 1.75;
}
#education .container .timeline .duration {
    font-size: 0.75em;
    font-weight: 300;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.75;
}

#experience {
    padding: 2em 1em;
}
#experience .container {
    max-width: 1024px;
    margin: 0 auto;
    padding-top: 25vh;
}
#experience .container .header {
    font-size: 2em;
    font-weight: 900;
    margin-bottom: 1em;
}
#experience .container .view-box {
    width: 100%;
    display: grid;
    grid-auto-flow: column;
    gap: 1em;
    overflow: hidden;
    overflow-x: scroll;
}
#experience .container .view-box .one-card {
    min-width: 150px;
    height: fit-content;
    padding: 20px 10px;
    border-radius: 10px;
    color: var(--dark);
    background-color: var(--white);
}
#experience .container .view-box .one-card .title {
    font-weight: 900;
    font-size: 1.25em;
}
#experience .container .view-box .one-card .content {
    font-size: 0.75em;
    font-weight: 300;
    line-height: 1.75;
}
#experience .container .view-box .one-card .duration {
    font-size: 0.75em;
    font-weight: 300;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.75;
}

#awards {
    padding: 2em 1em;
}
#awards .container {
    max-width: 1024px;
    margin: 0 auto;
    padding-top: 25vh;
}
#awards .container .header {
    font-size: 2em;
    font-weight: 900;
    margin-bottom: 1em;
}
#awards .container .view-box {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 1em;
}
#awards .container .view-box .one-award {
    text-align: center;
}
#awards .container .view-box .one-award .prize {
    position: relative;
}
#awards .container .view-box .one-award .prize img {
    width: 80%;
    height: 80%;
    object-fit: cover;
    filter: invert(100%) brightness(200%);
}
#awards .container .view-box .one-award .prize .rank {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    font-size: 5em;
}
#awards .container .view-box .one-award .compet {
    font-weight: 700;
}
#awards .container .view-box .one-award .entry {
    font-size: 0.75em;
    font-weight: 300;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.75;
}

#activities {
    padding: 2em 1em;
}
#activities .container {
    max-width: 1024px;
    margin: 0 auto;
    padding-top: 25vh;
}
#activities .container .header {
    font-size: 2em;
    font-weight: 900;
    margin-bottom: 0.5em;
}
#activities .container .one-activity {
    margin-bottom: 2em;
}
#activities .container .one-activity .duration {
    font-size: 0.75em;
    font-weight: 300;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.75;
}

#certification {
    padding: 2em 1em;
}
#certification .container {
    max-width: 1024px;
    margin: 0 auto;
    padding-top: 25vh;
}
#certification .container .header {
    font-size: 2em;
    font-weight: 900;
    margin-bottom: 1em;
}
#certification .container .certilist {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 1em;
}
#certification .container .one-certi img {
    width: 100%;
}
#certification .container .one-certi .duration {
    font-size: 0.75em;
    font-weight: 300;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.75;
}

@media only screen and (max-width: 768px) {
    nav ul li {
        display: none;
    }
    nav ul li.nav-header {
        display: list-item;
    }
    .home p.hello {
        width: 90%;
        word-break: break-all;
        font-size: 2em;
    }
    .home img {
        width: 40vw;
        height: calc(40vw + 50px);
    }
    @keyframes typing {
        from {
            width: 0;
        }
        to {
            width: 90%;
        }
    }
    #about .container .desc {
        width: 100%;
    }
    #awards .container .view-box {
        grid-template-columns: repeat(3, 1fr);
    }
    #awards .container .view-box .one-award .prize .rank {
        font-size: 3em;
    }
    #certification .container .certilist {
        grid-template-columns: none;
        grid-template-rows: none;
    }
}
